.header{     
    background-color: $dark-color;
    &__content{
        display: flex;
        justify-content: space-between;               
        align-items: center;
        padding: 10px 20px;
    }    
    &__logo{
        font-size: 24px;
        font-family: $text-light;        
        color: #ffffff;
    }
}