.review{
    margin-bottom: 25px;
    &__content{
        display: flex;
        justify-content: space-between;
        color: $grey-color;
    }
    &__item{
       width: 48%;
    }    
    &__title{
        display: flex;
        justify-content: space-between;
        font-size: 22px;
        font-family: $text-light;
        margin-bottom: 20px;
        span{
            display: inline-block;
            font-size: 28px;
            width: 15px;                       
        }
    }
    &__desc{
        display: flex;
        align-items: center;        
    }    
    &__photo{
        width: 90px;        
        padding: 5px;
        margin-right: 20px;        
        border: 1px solid #cccbcb;
        border-radius: 50%;
    }
    &__img{
        display: block;
        width: 100%; 
        height: 100%;     
        margin: 0 !important;
        margin-left: 10px;        
        border-radius: 50%;
    }
    &__text{
        display: flex;
        flex-direction: column;
        font-size: 13px;
        padding-top: 20px;
        
    }
    &__quote{                       
        margin-bottom: 10px;
        &::before{
            content: '\201C';
            font-size: 50px;
            line-height: 0;
            vertical-align: middle;
        }
        &::after{
            content: '\201C';
            font-size: 50px;
            line-height: 0;
            vertical-align: -0.6em;            
        }
    }    
    &__author{
        text-align: right;
    }
    &__author-name{
        margin: 0;
    }
    &__author-link{
        color: $main-color;        
    }
}