.to-top{
    position: absolute;
    right: 15px;
    padding: 10px 15px;
    bottom: 60px;
    background-color: $main-color;
    border-radius: 3px;
    span{
        font-size: 25px;
        color: #ffffff;
    }
    p{
        margin: 0;
        font-size: 12px;
        text-transform: uppercase;
        color: #ffffff;        
    }
}